.home {
  position: fixed;
  bottom: 3rem;
  left: 50%;
}

.container {
  margin: 10rem auto;
}

.project {
  width: 60%;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  color: palevioletred;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 1.5rem;
  list-style: lower-greek;
}
